.redirect-suggester-el {
  display: relative;
  margin-left: 0.5em;
  }
  
  .redirect-suggester-el * {
    display: inline-block;
  }

    .redirect-suggestion-text {
      margin-right: 3em;
    }
  .redirect-item {
    font-size: smaller;
    clear: left;
    display: block;
    color: var(--text-muted);
}

.redirect-suggestion-image {
  max-width: 2em;
  height: 2em;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 0.5em;
}
.redirect-is-alias {
  color: var(--text-muted);
  font-weight: bold;
  /* margin-left: -1em;
  margin-right: 1em; */
  position: absolute;
  left: 0.75em;
  transform: scale(1, -1);
  font-size: larger;
}